<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>xat-www</title>

  <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes">

  {{#if devEnv}}
  <link rel="stylesheet" media="all" href="/static/css/index.css">
  {{else}}
  <link rel="stylesheet" media="all" href="/static/{{m "css/index.css"}}">
  {{/if}}
</head>

<body>
  {{{ content }}}
  
  {{#if devEnv}}
  <script defer src="/static/js/index.js"></script>
  {{else}}
  <script defer src="/static/{{m "js/index.min.js"}}"></script>
  {{/if}}
</body>
</html>